


.right-sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.widget {
  background-color: white;
  border: var(--BORDER);
  border-radius: 8px;
  padding: 12px;
}

.widget h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}

.widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.widget .widget-header h3 {
  margin-bottom: 0;
}

.puzzle-content {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 8px;
  border-radius: 4px;

  cursor: pointer;

  transition: background-color 0.15s ease-in-out;
}

.puzzle-content:hover {
  background-color: #f3f2ef;
}

.puzzle-icon {
  width: 40px;
  height: 40px;

  background: linear-gradient(135deg, #667eea, #764ba2);
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 18px;
}


.puzzle-info h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2px;
}

.puzzle-info p {
  font-size: 12px;
  color: var(--TEXT-NEUTRAL);
}

.suggestion-item {
  display: flex;
  gap: 8px;

  padding: 8px 0;
  border-bottom: var(--BORDER);
}

.suggestion-info h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2px;
}

.suggestion-info p {
  font-size: 12px;
  color: var(--TEXT-NEUTRAL);
  margin-bottom: 8px;
}

.follow-btn {
  display: flex;
  align-items: center;
  gap: 4px;

  background: none;
  border: 1px solid var(--PRIMARY-COLOR);
  color: var(--PRIMARY-COLOR);
  padding: 6px 16px;
  border-radius: 16px;

  font-size: 14px;
  font-weight: bold;

  cursor: pointer;
  transition: all 0.15s ease-in-out;
}


.follow-btn:hover {
  background-color: var(--PRIMARY-COLOR);
  color: white;
}

.view-all-link {
  display: block;
  text-align: center;

  color: var(--TEXT-NEUTRAL);
  text-decoration: none;
  font-size: 14px;

  margin-top: 12px;
  padding: 8px;
  border-radius: 4px;

  transition: background-color 0.15s ease-in-out;
}

.view-all-link:hover {
  background-color: #f3f2ef;
}

.ad-widget {
  text-align: center;
}

.ad-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-size: 12px;
  color: var(--TEXT-NEUTRAL);
}

.ad-widget p {
  font-size: 12px;
}

.ad-image {
  margin: 12px 0;
}

.ad-image img {
  width: 100%;
  border-radius: 4px;
}

.ad-description {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.start-now-btn {
  background-color: var(--PRIMARY-COLOR);
  color: white;

  border: none;
  padding: 8px 16px;
  border-radius: 16px;
  margin-top: 12px;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;

  transition: background-color 0.15s ease-in-out;
}

.start-now-btn:hover {
  background-color: #004182;
}