.centerContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sortSection {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 12px;
  color: var(--TEXT-NEUTRAL);
}

.sortDropdown {
  border: none;
  background: none;
  padding-top: 2px;

  font-size: 12px;
  color: black;
  font-weight: bold;

  cursor: pointer;
}

