
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap');

p {
  font-size: 2rem;
  /* text-decoration:line-through; */
  /* text-transform:capitalize; */
  text-align: start;
  text-indent: 4rem;
  line-height: 1.4;
  /* letter-spacing: 0rem; */
  word-spacing: 1rem;

  /* font-weight: 700; */
  /* font-style:italic; */

  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */

  font-family: "Reem Kufi", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* input, button {
  font: inherit;
} */
