
.footer {
  margin-top: 24px;
  padding: 24px;

  background-color: white;
  border-top: 1px solid #e6e6e6;
}

.footerContent {
  max-width: 1120px;
  margin: 0 auto;
  text-align: center;
}

.footerLinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 16px;
  margin-bottom: 16px;
}

.footerLinks a {
  color: var(--TEXT-NEUTRAL);
  text-decoration: none;
  font-size: 12px;
  transition: color 0.15s ease-in-out;
}

.footerLinks a:hover {
  color: var(--PRIMARY-COLOR);
}

.footerCopyright {
  font-size: 12px;
  color: var(--TEXT-NEUTRAL);
} 