* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}


a {
  margin: 0 auto;
  background-color: navy;
  font-size: 2rem;
  padding: 1.2rem;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  text-align: center;
  width: 150px;

  /* transition-property: transform;
  transition-duration: 0.5s; */
  /* transition-delay: 0.5s; */
  /* transition: transform 0.5s 1s ease-out; */

  /* animation-direction: alternate-reverse; */


  /* animation-name: stretch;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 5s; */

  animation-name: backgroundColor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes stretch {
  from {
    width: 300px;
  }

  to {
    width: 80%;
  }
}

@keyframes backgroundColor {
  0% {
    background-color: navy;
  }

  25% {
    background-color: cornflowerblue;
  }

  50% {
    background-color: deepskyblue;
  }

  75% {
    background-color: dodgerblue;
  }

  100% {
    background-color: navy;
  }
}


/* a:nth-child(1) {
  animation-fill-mode: both;
}


a:nth-child(2) {
  animation-fill-mode: forwards;
}


a:nth-child(3) {
  animation-fill-mode: backwards;
}


a:nth-child(4) {
  animation-fill-mode:none;
} */







/* a:hover {
  transform: scale(1.3);
} */

/* a:nth-child(1) {
  transition-timing-function: ease;
}


a:nth-child(2) {
  transition-timing-function: ease-in;
}


a:nth-child(3) {
  transition-timing-function: ease-out;
}


a:nth-child(4) {
  transition-timing-function: ease-in-out;
}

a:nth-child(5) {
  transition-timing-function: linear;
} */

/* a:nth-child(1) {
  transform: translate(-100px, -100px);
  transform: translateX(-100px) translateY(-100px);
}


a:nth-child(2) {
  transform: scale(1.3);
  transform: scaleY(1.5);
}


a:nth-child(3) {
  transform: rotate(20deg);
  transform: rotateX(35deg);
  transform: rotateY(65deg);
}


a:nth-child(4) {
  transform: skew(60deg, 70deg);
  transform: skewY(60deg);
} */