.postOptions {
  display: flex;
  justify-content: space-around;
  border-top: var(--BORDER);
  padding-top: 8px;
}

.postOption {
  display: flex;
  align-items: center;
  gap: 8px;

  background: none;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;

  cursor: pointer;

  font-size: 14px;
  color: var(--TEXT-NEUTRAL);

  transition: background-color 0.15s ease-in-out;
}

.postOption:hover {
  background-color: #f3f2ef;
}

.postOption span {
  font-size: 16px;
}

.postCreation {
  background-color: white;
  border: var(--BORDER);
  border-radius: 8px;
  padding: 12px 16px;
}

.postInputSection {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.postInput {
  flex-grow: 1;

  padding: 12px 16px;
  border: var(--BORDER);
  border-radius: 35px;

  font-size: 14px;
  outline: none;

  transition: border-color 0.15s ease-in-out;
}

.postInput:focus {
  border-color: var(--PRIMARY-COLOR);
}

.postInputSection img {
  width: 42px;
  height: 42px;
  margin-bottom: 0;
}
