
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  /* border: 2px solid black; */
  /* border-top-color: brown;
  border-top-style: double;
  border-top-width: 4px;
  border-left-color:chocolate;
  border-left-style:dashed;
  border-left-width:3px;
  border-right: 4px dotted blueviolet; */
  border-radius: 200px;

  outline: 3px solid brown;
  /* outline-offset: -10px; */

  /* padding: 1rem; */

  /* padding-top: 1rem;
  padding-bottom: 2rem; */
  /* padding-left: 1.5rem; */
  /* padding-right: 2.5rem; */
  /* padding-inline-start: 1.5rem;
  padding-inline-end: 2.5rem; */

  /* top right bottom left */
  padding: 1rem 1.5rem 2rem 2.5rem;

  margin: 1rem auto;

  width: 400px;
}
