
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* background-image: url('https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000'); */
  /* background-repeat: repeat-y; */
  /* background-attachment: scroll; */
  /* background-repeat: no-repeat; */

  /* background-size: contain; */
  /* x y */
  /* background-position: 100% 70%; */
}

.container {
  width: 75%;
  margin: 2rem auto;
  border: 1px solid black;
  height: 500px;
  /* background: linear-gradient(to bottom left, #ff0000, #ffcc00); */
  background: radial-gradient(circle at top right, #0b0300 80%, #ffcc00 )
}

/* img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 100% 50%;
  box-shadow: 0 0 8px 8px white inset;
} */
