
.card {
  border-radius: 20px;
  background-color: #fff;
  width: 300px;
  min-height: 400px;
  margin: 20px;
  overflow: hidden;
  display: inline-block;
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover
}

.cardContent {
  margin: 30px;
  color: #224158;
  font-size: 1.5rem;
}

.cardTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
