.header {
  background-color: white;
  border-bottom: var(--BORDER);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 1rem;
  height: 52px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.05);
}

 .fa-linkedin {
  color: var(--PRIMARY-COLOR);
  font-size: 34px;
  margin-right: 7px;
}

.header-content {
  max-width: 1120px;
  margin: 0 auto;

  display: flex;
  align-items: center;

  height: 100%;
}

.search-container {
  position: relative;

  display: flex;
  align-items: center;
  gap: 1rem;

  background-color: #eef3f8;
  border-radius: 6px;
  padding: 0 12px;

  flex-grow: 1;
  height: 35px;

  transition: background-color 0.15s;
}

.search-container span {
  color: var(--TEXT-NEUTRAL);
}

.search-container:focus-within {
  background-color: white;
  outline: 1px solid var(--PRIMARY-COLOR);
}

.search-input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-size: 1rem;
}

.search-input::placeholder {
  color: var(--TEXT-NEUTRAL);
}


.header-nav {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.nav-item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--TEXT-NEUTRAL);
  text-decoration: none;
  font-size: 12px;

  padding: 10px 12px 4px;
  height: 52px;
  gap: 3px;
}

.nav-item:hover,
.nav-item:focus {
  color: black;
}

.nav-item.active {
  color: black;
  border-bottom: 3px solid black;
}

.notification-badge {
  position: absolute;
  top: 3px;
  right: 30px;
  background-color: #cc1016;
  color: white;
  font-size: 10px;
  font-weight: bold;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.profile-pic-small {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.nav-divider {
  width: 1px;
  height: 24px;
  background-color: #e6e6e6;
  margin: 0 8px;
}


@media screen and (max-width: 1120px) {
  .header-nav {
    display: none;
  }
} 

