* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root {
  --PRIMARY-COLOR: #0a66c2;
  --NEUTRAL-COLOR: #f3f2ef;
  --TEXT-NEUTRAL: #666;


  --BORDER: 1px solid #e6e6e6;
}

body {
  background-color: var(--NEUTRAL-COLOR);
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}