body {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: white;
  background-color: hsl(0, 59%, 40%);
  padding: 0.3rem;
  border-radius: 10px;
  cursor: pointer;
}

a:visited {
  background-color: hsl(0, 59%, 50%);
}

a:hover, a:focus {
  background-color: hsl(0, 59%, 30%);
}

a:active {
  background-color:hsl(0, 59%, 20%);
}
