

section {
  font-size: 2rem;
  background-color: burlywood;
}

p {
  font-size: 1rem;
  background-color: blanchedalmond;
  padding: 1rem;
  display: inline-block;
}

span {
  display: inline-block;
  background-color: brown;
  padding: 2rem
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background-color: bisque;
}

li {
  display: inline-block;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: brown;
}

a:hover, a:focus {
  text-decoration: underline;
}
