* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 50px auto 50px;

  grid-template-areas:
    "header header header header header"
    "sidebar container container container container"
    "footer footer footer footer footer";

  gap: 1rem;
}

.el {
  display: grid;
  place-content: center;
}

.header {
  grid-area: header;
  background-color: antiquewhite;
}

.sidebar {
  grid-area: sidebar;
  background-color: burlywood;
}

.footer {
  grid-area: footer;
  background-color: antiquewhite;
}

.container {
  grid-area: container;

  display: grid;
  /* 1fr 1fr 1fr 1fr */
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(150px, auto);

  /* column-gap: 1rem;
  row-gap: 2rem; */
  gap: 1rem;
}

.item {
  background-color:chocolate;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;

  display: grid;
  /* align-items: center;
  justify-content: end; */

  place-content: center;
}

.item:nth-child(1) {
  /* grid-column-start: 1;
  grid-column-end: 4; */
  grid-column: 1 / 5;

  /* grid-row-start: 1;
  grid-row-end: 3; */
  grid-row: 1 / 3;


}

.item:nth-child(2) {
  /* grid-column-start: 1;
  grid-column-end: 4; */
  grid-column: 1 / 3;

  /* grid-row-start: 1;
  grid-row-end: 3; */
  grid-row: 3 / 4;

}


.item:nth-child(3) {
  /* grid-column-start: 1;
  grid-column-end: 4; */
  grid-column: 3 / 5;

  /* grid-row-start: 1;
  grid-row-end: 3; */
  grid-row: 3 / 4;

}

